
/* General styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}

/* Navigation styling */
nav {
    background-color: rgb(227, 238, 248);
    padding: 5px;
}

nav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black
}

nav a:hover {
    color: royalblue;
}

/* Inputs Form */

form {
    width: 100%;
    outline: 1px solid black;
    padding: 1%;
}

.input-form label, input {
    display: inline-block;
}

.input-form label {
    width: 50%;
    text-align: right;
}

.input-form label +span {
    margin: 0 0 0 4%;
}

.input-form span {
    padding-right: .5%;
}

.input-form label + input {
    margin: 0 2% 0 4%;
}

.input-form input + input {
    float: right;
}

.input-form .center {
    margin-top: 0;
    margin-left: 43%;
}

.input-form button {
    margin-top: 2%;
}

/* Table */
table { 
    margin: auto; 
    padding: 10px
}

.filter-form{
    width: 98%;
    margin: 10px;
    padding-top: 10px;
}
.filter-div {
    display: inline-block;
    width: 85px
}

th, td {
    outline: .5px solid  rgb(227, 238, 248);
    width: 70px;
}

.table-container{
    text-align: center;
}

/* Compare */
.compare-selector {
    text-align: center;
}